// Shimaray
// colors:button
$button_bg_normal: #1e1e2e;
$button_bg_alt: #1e1e2e;
$button_decoration_focus: #f9e2af;
$button_decoration_hover: #42435b;
$button_fg_active: #b8ffba;
$button_fg_inactive: #b8c0e0;
$button_fg_link: #f9e2af;
$button_fg_negative: #ed8796;
$button_fg_neutral: #e5bb88;
$button_fg_normal: #cad3f5;
$button_fg_positive: #7bdc9f;
$button_fg_link_visited: #d9beff;
// colors:complementary
$comp_bg_normal: #24273a;
$comp_bg_alt: #181926;
$comp_decoration_focus: #f9e2af;
$comp_decoration_hover: #42435b;
$comp_fg_active: #b8ffba;
$comp_fg_inactive: #b8c0e0;
$comp_fg_link: #f9e2af;
$comp_fg_negative: #ed8796;
$comp_fg_neutral: #e5bb88;
$comp_fg_normal: #cad3f5;
$comp_fg_positive: #7bdc9f;
$comp_fg_link_visited: #d9beff;
// colors:header
$header_bg_normal: #222234;
$header_bg_alt: #222234;
$header_decoration_focus: #f9e2af;
$header_decoration_hover: #42435b;
$header_fg_active: #ffffff;
$header_fg_inactive: #b8c0e0;
$header_fg_link: #f9e2af;
$header_fg_negative: #ed8796;
$header_fg_neutral: #e5bb88;
$header_fg_normal: #cad3f5;
$header_fg_positive: #7bdc9f;
$header_fg_link_visited: #d9beff;
// colors:header_inactive [inactive]
$header_inactive_bg_normal: #222234;
$header_inactive_bg_alt: #222234;
$header_inactive_decoration_focus: #f9e2af;
$header_inactive_decoration_hover: #42435b;
$header_inactive_fg_active: #ffffff;
$header_inactive_fg_inactive: #b8c0e0;
$header_inactive_fg_link: #f9e2af;
$header_inactive_fg_negative: #ed8796;
$header_inactive_fg_neutral: #e5bb88;
$header_inactive_fg_normal: #cad3f5;
$header_inactive_fg_positive: #7bdc9f;
$header_inactive_fg_link_visited: #d9beff;
// colors:selection
$selection_bg_normal: #f9e2af;
$selection_bg_alt: #f9e2af;
$selection_decoration_focus: #f9e2af;
$selection_decoration_hover: #42435b;
$selection_fg_active: #fcfcfc;
$selection_fg_inactive: #b8c0e0;
$selection_fg_link: #f9e2af;
$selection_fg_negative: #ed8796;
$selection_fg_neutral: #e5bb88;
$selection_fg_normal: #1a192a;
$selection_fg_positive: #7bdc9f;
$selection_fg_link_visited: #d9beff;
// colors:tooltip
$tooltip_bg_normal: #181926;
$tooltip_bg_alt: #494d64;
$tooltip_decoration_focus: #f9e2af;
$tooltip_decoration_hover: #42435b;
$tooltip_fg_active: #ffffff;
$tooltip_fg_inactive: #b8c0e0;
$tooltip_fg_link: #f9e2af;
$tooltip_fg_negative: #ed8796;
$tooltip_fg_neutral: #e5bb88;
$tooltip_fg_normal: #cad3f5;
$tooltip_fg_positive: #7bdc9f;
$tooltip_fg_link_visited: #d9beff;
// colors:view
$view_bg_normal: #181825;
$view_bg_alt: #19192b;
$view_decoration_focus: #f9e2af;
$view_decoration_hover: #42435b;
$view_fg_active: #ffffff;
$view_fg_inactive: #b8c0e0;
$view_fg_link: #f9e2af;
$view_fg_negative: #ed8796;
$view_fg_neutral: #e5bb88;
$view_fg_normal: #cad3f5;
$view_fg_positive: #7bdc9f;
$view_fg_link_visited: #d9beff;
// colors:window
$window_bg_normal: #181825;
$window_bg_alt: #181825;
$window_decoration_focus: #f9e2af;
$window_decoration_hover: #42435b;
$window_fg_active: #ffffff;
$window_fg_inactive: #b8c0e0;
$window_fg_link: #f9e2af;
$window_fg_negative: #ed8796;
$window_fg_neutral: #e5bb88;
$window_fg_normal: #cad3f5;
$window_fg_positive: #7bdc9f;
$window_fg_link_visited: #d9beff;
// shade (this is a special color it should match the shadow color of the breeze titlebar)
$breeze_shade: #000;
// font
$font-weight: 500;
$font-title-weight: 700;
$font-menu-weight: 500;
$mono-font: "JetBrainsMonoNL Nerd Font";
// font sizes
$font-size:  10pt         ; // default: 10pt
$font-menu-size:  10pt         ; // default: 10pt
$font-title-size:  10pt         ; // default: 10pt

// Header/Titlebar padding
$header-padding:  5px          ; // extra padding in the headerbar
