// BREEZE LIGHT
// colors:button
 $button_bg_normal: #fcfcfc;
 $button_bg_alt: #a3d4fa;
 $button_decoration_focus: #3daee9;
 $button_decoration_hover: #3daee9;
 $button_fg_active: #3DAEE9;
 $button_fg_inactive: #707d8a;
 $button_fg_link: #2980b9;
 $button_fg_negative: #da4453;
 $button_fg_neutral: #f67400;
 $button_fg_normal: #232629;
 $button_fg_positive: #27ae60;
 $button_fg_link_visited: #9b59b6;
 // colors:complementary
 $comp_bg_normal: #2a2e32;
 $comp_bg_alt: #1e5774;
 $comp_decoration_focus: #3daee9;
 $comp_decoration_hover: #3daee9;
 $comp_fg_active: #3DAEE9;
 $comp_fg_inactive: #a1a9b1;
 $comp_fg_link: #2980b9;
 $comp_fg_negative: #da4453;
 $comp_fg_neutral: #f67400;
 $comp_fg_normal: #fcfcfc;
 $comp_fg_positive: #27ae60;
 $comp_fg_link_visited: #9b59b6;
 // colors:header
 $header_bg_normal: #dee0e2;
 $header_bg_alt: #eff0f1;
 $header_decoration_focus: #3daee9;
 $header_decoration_hover: #3daee9;
 $header_fg_active: #3DAEE9;
 $header_fg_inactive: #707d8a;
 $header_fg_link: #2980b9;
 $header_fg_negative: #da4453;
 $header_fg_neutral: #f67400;
 $header_fg_normal: #232629;
 $header_fg_positive: #27ae60;
 $header_fg_link_visited: #9b59b6;
 // colors:header [inactive] (currently not 100% accurate to breeze light)
 $header_inactive_bg_normal: #dee0e2;
 $header_inactive_bg_alt: #eff0f1;
 $header_inactive_decoration_focus: #3daee9;
 $header_inactive_decoration_hover: #3daee9;
 $header_inactive_fg_active: #3DAEE9;
 $header_inactive_fg_inactive: #707d8a;
 $header_inactive_fg_link: #2980b9;
 $header_inactive_fg_negative: #da4453;
 $header_inactive_fg_neutral: #f67400;
 $header_inactive_fg_normal: #232629;
 $header_inactive_fg_positive: #27ae60;
 $header_inactive_fg_link_visited: #9b59b6;
 // colors:selection
 $selection_bg_normal: #3daee9;
 $selection_bg_alt: #a3d4fa;
 $selection_decoration_focus: #3daee9;
 $selection_decoration_hover: #3daee9;
 $selection_fg_active: #fcfcfc;
 $selection_fg_inactive: #707d8a;
 $selection_fg_link: #fdbc4b;
 $selection_fg_negative: #b03745;
 $selection_fg_neutral: #c65c00;
 $selection_fg_normal: #fcfcfc;
 $selection_fg_positive: #176839;
 $selection_fg_link_visited: #9b59b6;
 // colors:tooltip
 $tooltip_bg_normal: #f7f7f7;
 $tooltip_bg_alt: #eff0f1;
 $tooltip_decoration_focus: #3daee9;
 $tooltip_decoration_hover: #3daee9;
 $tooltip_fg_active: #3DAEE9;
 $tooltip_fg_inactive: #707d8a;
 $tooltip_fg_link: #2980b9;
 $tooltip_fg_negative: #da4453;
 $tooltip_fg_neutral: #f67400;
 $tooltip_fg_normal: #232629;
 $tooltip_fg_positive: #27ae60;
 $tooltip_fg_link_visited: #9b59b6;
 // colors:view
 $view_bg_normal: #ffffff;
 $view_bg_alt: #f7f7f7;
 $view_decoration_focus: #3daee9;
 $view_decoration_hover: #3daee9;
 $view_fg_active: #3DAEE9;
 $view_fg_inactive: #707d8a;
 $view_fg_link: #2980b9;
 $view_fg_negative: #da4453;
 $view_fg_neutral: #f67400;
 $view_fg_normal: #232629;
 $view_fg_positive: #27ae60;
 $view_fg_link_visited: #9b59b6;
 // colors:window
 $window_bg_normal: #eff0f1;
 $window_bg_alt: #e3e5e7;
 $window_decoration_focus: #3daee9;
 $window_decoration_hover: #3daee9;
 $window_fg_active: #3DAEE9;
 $window_fg_inactive: #707d8a;
 $window_fg_link: #2980b9;
 $window_fg_negative: #da4453;
 $window_fg_neutral: #f67400;
 $window_fg_normal: #232629;
 $window_fg_positive: #27ae60;
 $window_fg_link_visited: #9b59b6;
 // shade (this is a special color it should match the shadow color of the breeze titlebar)
 $breeze_shade: #000;
