// Sweet
// colors:button
$button_bg_normal: #1e2233;
$button_bg_alt: #404552;
$button_decoration_focus: #c50ed2;
$button_decoration_hover: #9b3aa8;
$button_fg_active: #3daee9;
$button_fg_inactive: #666a73;
$button_fg_link: #e554ff;
$button_fg_negative: #ed254e;
$button_fg_neutral: #ff6a00;
$button_fg_normal: #c3c7d1;
$button_fg_positive: #71f79f;
$button_fg_link_visited: #b30dbf;
// colors:complementary
$comp_bg_normal: #2a2e32;
$comp_bg_alt: #1b1e20;
$comp_decoration_focus: #c50ed2;
$comp_decoration_hover: #9b3aa8;
$comp_fg_active: #3daee9;
$comp_fg_inactive: #666a73;
$comp_fg_link: #e554ff;
$comp_fg_negative: #ed254e;
$comp_fg_neutral: #ff6a00;
$comp_fg_normal: #fcfcfc;
$comp_fg_positive: #71f79f;
$comp_fg_link_visited: #b30dbf;
// colors:header
$header_bg_normal: #2f343f;
$header_bg_alt: #2f343f;
$header_decoration_focus: #c50ed2;
$header_decoration_hover: #9b3aa8;
$header_fg_active: #ffb8d3;
$header_fg_inactive: #666a73;
$header_fg_link: #e554ff;
$header_fg_negative: #ed254e;
$header_fg_neutral: #ff6a00;
$header_fg_normal: #d3dae3;
$header_fg_positive: #71f79f;
$header_fg_link_visited: #b30dbf;
// colors:header_inactive [inactive]
$header_inactive_bg_normal: #2f343f;
$header_inactive_bg_alt: #2f343f;
$header_inactive_decoration_focus: #c50ed2;
$header_inactive_decoration_hover: #9b3aa8;
$header_inactive_fg_active: #ffb8d3;
$header_inactive_fg_inactive: #666a73;
$header_inactive_fg_link: #e554ff;
$header_inactive_fg_negative: #ed254e;
$header_inactive_fg_neutral: #ff6a00;
$header_inactive_fg_normal: #666a73;
$header_inactive_fg_positive: #71f79f;
$header_inactive_fg_link_visited: #b30dbf;
// colors:selection
$selection_bg_normal: #c50ed2;
$selection_bg_alt: #1d99f3;
$selection_decoration_focus: #c50ed2;
$selection_decoration_hover: #9b3aa8;
$selection_fg_active: #fcfcfc;
$selection_fg_inactive: #666a73;
$selection_fg_link: #e554ff;
$selection_fg_negative: #ed254e;
$selection_fg_neutral: #ff6a00;
$selection_fg_normal: #fefefe;
$selection_fg_positive: #71f79f;
$selection_fg_link_visited: #b30dbf;
// colors:tooltip
$tooltip_bg_normal: #353945;
$tooltip_bg_alt: #2f343f;
$tooltip_decoration_focus: #c50ed2;
$tooltip_decoration_hover: #9b3aa8;
$tooltip_fg_active: #ffb8d3;
$tooltip_fg_inactive: #666a73;
$tooltip_fg_link: #e554ff;
$tooltip_fg_negative: #ed254e;
$tooltip_fg_neutral: #ff6a00;
$tooltip_fg_normal: #d3dae3;
$tooltip_fg_positive: #71f79f;
$tooltip_fg_link_visited: #b30dbf;
// colors:view
$view_bg_normal: #161925;
$view_bg_alt: #181b28;
$view_decoration_focus: #c50ed2;
$view_decoration_hover: #9b3aa8;
$view_fg_active: #ffb8d3;
$view_fg_inactive: #666a73;
$view_fg_link: #e554ff;
$view_fg_negative: #ed254e;
$view_fg_neutral: #ff6a00;
$view_fg_normal: #d3dae3;
$view_fg_positive: #71f79f;
$view_fg_link_visited: #b30dbf;
// colors:window
$window_bg_normal: #181b28;
$window_bg_alt: #2f343f;
$window_decoration_focus: #c50ed2;
$window_decoration_hover: #9b3aa8;
$window_fg_active: #ffb8d3;
$window_fg_inactive: #666a73;
$window_fg_link: #e554ff;
$window_fg_negative: #ed254e;
$window_fg_neutral: #ff6a00;
$window_fg_normal: #d3dae3;
$window_fg_positive: #71f79f;
$window_fg_link_visited: #b30dbf;
// shade (this is a special color it should match the shadow color of the breeze titlebar)
$breeze_shade: #000;
// font
$font-weight: 400;
$font-title-weight: 400;
$font-menu-weight: 400;
$mono-font: "monospace";
