// BREEZE DARK [Default]
// colors:button
$button_bg_normal: #31363B;
$button_bg_alt: #1E5774;
$button_decoration_focus: #3daee9;
$button_decoration_hover: #3daee9;
$button_fg_active: #3DAEE9;
$button_fg_inactive: #a1a9b1;
$button_fg_link: #1d99f3;
$button_fg_negative: #da4453;
$button_fg_neutral: #f67400;
$button_fg_normal: #fcfcfc;
$button_fg_positive: #27ae60;
$button_fg_link_visited: #9b59b6;
// colors:complementary
$comp_bg_normal: #2a2e32;
$comp_bg_alt: #1e5774;
$comp_decoration_focus: #3daee9;
$comp_decoration_hover: #3daee9;
$comp_fg_active: #3DAEE9;
$comp_fg_inactive: #a1a9b1;
$comp_fg_link: #1d99f3;
$comp_fg_negative: #da4453;
$comp_fg_neutral: #f67400;
$comp_fg_normal: #fcfcfc;
$comp_fg_positive: #27ae60;
$comp_fg_link_visited: #9b59b6;
// colors:header
$header_bg_normal: #31363b;
$header_bg_alt: #2a2e32;
$header_decoration_focus: #3daee9;
$header_decoration_hover: #3daee9;
$header_fg_active: #3DAEE9;
$header_fg_inactive: #a1a9b1;
$header_fg_link: #1d99f3;
$header_fg_negative: #da4453;
$header_fg_neutral: #f67400;
$header_fg_normal: #fcfcfc;
$header_fg_positive: #27ae60;
$header_fg_link_visited: #9b59b6;
// colors:header [inactive]
$header_inactive_bg_normal: #2a2e32;
$header_inactive_bg_alt: #31363b;
$header_inactive_decoration_focus: #3daee9;
$header_inactive_decoration_hover: #3daee9;
$header_inactive_fg_active: #3DAEE9;
$header_inactive_fg_inactive: #a1a9b1;
$header_inactive_fg_link: #1d99f3;
$header_inactive_fg_negative: #da4453;
$header_inactive_fg_neutral: #f67400;
$header_inactive_fg_normal: #fcfcfc;
$header_inactive_fg_positive: #27ae60;
$header_inactive_fg_link_visited: #9b59b6;
// colors:selection
$selection_bg_normal: #3daee9;
$selection_bg_alt: #1e5774;
$selection_decoration_focus: #3daee9;
$selection_decoration_hover: #3daee9;
$selection_fg_active: #fcfcfc;
$selection_fg_inactive: #a1a9b1;
$selection_fg_link: #fdbc4b;
$selection_fg_negative: #b03745;
$selection_fg_neutral: #c65c00;
$selection_fg_normal: #fcfcfc;
$selection_fg_positive: #176839;
$selection_fg_link_visited: #9b59b6;
// colors:tooltip
$tooltip_bg_normal: #1b1e20;
$tooltip_bg_alt: #232629;
$tooltip_decoration_focus: #3daee9;
$tooltip_decoration_hover: #3daee9;
$tooltip_fg_active: #3DAEE9;
$tooltip_fg_inactive: #a1a9b1;
$tooltip_fg_link: #1d99f3;
$tooltip_fg_negative: #da4453;
$tooltip_fg_neutral: #f67400;
$tooltip_fg_normal: #fcfcfc;
$tooltip_fg_positive: #27ae60;
$tooltip_fg_link_visited: #9b59b6;
// colors:view
$view_bg_normal: #1b1e20;
$view_bg_alt: #232629;
$view_decoration_focus: #3daee9;
$view_decoration_hover: #3daee9;
$view_fg_active: #3DAEE9;
$view_fg_inactive: #a1a9b1;
$view_fg_link: #1d99f3;
$view_fg_negative: #da4453;
$view_fg_neutral: #f67400;
$view_fg_normal: #fcfcfc;
$view_fg_positive: #27ae60;
$view_fg_link_visited: #9b59b6;
// colors:window
$window_bg_normal: #2a2e32;
$window_bg_alt: #31363b;
$window_decoration_focus: #3daee9;
$window_decoration_hover: #3daee9;
$window_fg_active: #3DAEE9;
$window_fg_inactive: #a1a9b1;
$window_fg_link: #1d99f3;
$window_fg_negative: #da4453;
$window_fg_neutral: #f67400;
$window_fg_normal: #fcfcfc;
$window_fg_positive: #27ae60;
$window_fg_link_visited: #9b59b6;
// shade (this is a special color it should match the shadow color of the breeze titlebar)
$breeze_shade: #000;
// font
$font-weight: 400;
$font-title-weight: 400;
$font-menu-weight: 400;
$mono-font: "monospace";
// font sizes
$font-size:  10pt         ; // default: 10pt
$font-menu-size:  10pt         ; // default: 10pt
$font-title-size:  10pt         ; // default: 10pt

// Header/Titlebar padding
$header-padding:  5px          ; // extra padding in the headerbar
