// Hanokira
// colors:button
 $button_bg_normal: #3b343a;
 $button_bg_alt: #3b343a;
 $button_decoration_focus: #d48ba7;
 $button_decoration_hover: #6b535c;
 $button_fg_active: #ffb8d3;
 $button_fg_inactive: #c0a6af;
 $button_fg_link: #ffabc8;
 $button_fg_negative: #ff3369;
 $button_fg_neutral: #f8ce36;
 $button_fg_normal: #ffffff;
 $button_fg_positive: #60e28f;
 $button_fg_link_visited: #d8c1ff;
 // colors:complementary
 $comp_bg_normal: #382d32;
 $comp_bg_alt: #382d32;
 $comp_decoration_focus: #d48ba7;
 $comp_decoration_hover: #6b535c;
 $comp_fg_active: #ffb8d3;
 $comp_fg_inactive: #c0a6af;
 $comp_fg_link: #ffabc8;
 $comp_fg_negative: #ff3369;
 $comp_fg_neutral: #f8ce36;
 $comp_fg_normal: #fcfcfc;
 $comp_fg_positive: #60e28f;
 $comp_fg_link_visited: #d8c1ff;
 // colors:header
 $header_bg_normal: #393238;
 $header_bg_alt: #393238;
 $header_decoration_focus: #d48ba7;
 $header_decoration_hover: #6b535c;
 $header_fg_active: #ffb8d3;
 $header_fg_inactive: #c0a6af;
 $header_fg_link: #ffabc8;
 $header_fg_negative: #ff3369;
 $header_fg_neutral: #f8ce36;
 $header_fg_normal: #ffffff;
 $header_fg_positive: #60e28f;
 $header_fg_link_visited: #d8c1ff;
 // colors:header [inactive]
 $header_inactive_bg_normal: #393238;
 $header_inactive_bg_alt: #393238;
 $header_inactive_decoration_focus: #d48ba7;
 $header_inactive_decoration_hover: #6b535c;
 $header_inactive_fg_active: #ffb8d3;
 $header_inactive_fg_inactive: #c0a6af;
 $header_inactive_fg_link: #ffabc8;
 $header_inactive_fg_negative: #ff3369;
 $header_inactive_fg_neutral: #f8ce36;
 $header_inactive_fg_normal: #ffffff;
 $header_inactive_fg_positive: #60e28f;
 $header_inactive_fg_link_visited: #d8c1ff;
 // colors:selection
 $selection_bg_normal: #d48ba7;
 $selection_bg_alt: #ffa7ca;
 $selection_decoration_focus: #d48ba7;
 $selection_decoration_hover: #6b535c;
 $selection_fg_active: #fcfcfc;
 $selection_fg_inactive: #c0a6af;
 $selection_fg_link: #f8ce36;
 $selection_fg_negative: #ff3369;
 $selection_fg_neutral: #f8ce36;
 $selection_fg_normal: #fcfcfc;
 $selection_fg_positive: #60e28f;
 $selection_fg_link_visited: #d8c1ff;
 // colors:tooltip
 $tooltip_bg_normal: #000;
 $tooltip_bg_alt: #000;
 $tooltip_decoration_focus: #d48ba7;
 $tooltip_decoration_hover: #6b535c;
 $tooltip_fg_active: #ffb8d3;
 $tooltip_fg_inactive: #c0a6af;
 $tooltip_fg_link: #ffabc8;
 $tooltip_fg_negative: #ff3369;
 $tooltip_fg_neutral: #f8ce36;
 $tooltip_fg_normal: #ffffff;
 $tooltip_fg_positive: #60e28f;
 $tooltip_fg_link_visited: #d8c1ff;
 // colors:view
 $view_bg_normal: #262125;
 $view_bg_alt: #282327;
 $view_decoration_focus: #d48ba7;
 $view_decoration_hover: #6b535c;
 $view_fg_active: #ffb8d3;
 $view_fg_inactive: #c0a6af;
 $view_fg_link: #ffabc8;
 $view_fg_negative: #ff3369;
 $view_fg_neutral: #f8ce36;
 $view_fg_normal: #ffffff;
 $view_fg_positive: #60e28f;
 $view_fg_link_visited: #d8c1ff;
 // colors:window
 $window_bg_normal: #2a2529;
 $window_bg_alt: #292428;
 $window_decoration_focus: #d48ba7;
 $window_decoration_hover: #6b535c;
 $window_fg_active: #ffb8d3;
 $window_fg_inactive: #c0a6af;
 $window_fg_link: #ffabc8;
 $window_fg_negative: #ff3369;
 $window_fg_neutral: #f8ce36;
 $window_fg_normal: #ffffff;
 $window_fg_positive: #60e28f;
 $window_fg_link_visited: #d8c1ff;
 // shade (this is a special color it should match the shadow color of the breeze titlebar)
 $breeze_shade: #000;
 // font
 $font-weight: 400;
 $font-title-weight: 400;
 $font-menu-weight: 400;
 $mono-font: "monospace";
