// Shimaray
// colors:button
$button_bg_normal: #252525;
$button_bg_alt: #252525;
$button_decoration_focus: #7c7c7c;
$button_decoration_hover: #676767;
$button_fg_active: #3daee9;
$button_fg_inactive: #a7a7a7;
$button_fg_link: #bed7ff;
$button_fg_negative: #de8d95;
$button_fg_neutral: #e5bb88;
$button_fg_normal: #eeeeee;
$button_fg_positive: #7bdc9f;
$button_fg_link_visited: #d9beff;
// colors:complementary
$comp_bg_normal: #383838;
$comp_bg_alt: #383838;
$comp_decoration_focus: #7c7c7c;
$comp_decoration_hover: #676767;
$comp_fg_active: #3daee9;
$comp_fg_inactive: #a7a7a7;
$comp_fg_link: #bed7ff;
$comp_fg_negative: #de8d95;
$comp_fg_neutral: #e5bb88;
$comp_fg_normal: #eeeeee;
$comp_fg_positive: #7bdc9f;
$comp_fg_link_visited: #d9beff;
// colors:header
$header_bg_normal: #303030;
$header_bg_alt: #303030;
$header_decoration_focus: #7c7c7c;
$header_decoration_hover: #676767;
$header_fg_active: #ffffff;
$header_fg_inactive: #a7a7a7;
$header_fg_link: #bed7ff;
$header_fg_negative: #de8d95;
$header_fg_neutral: #e5bb88;
$header_fg_normal: #eeeeee;
$header_fg_positive: #7bdc9f;
$header_fg_link_visited: #d9beff;
// colors:header_inactive [inactive]
$header_inactive_bg_normal: #303030;
$header_inactive_bg_alt: #303030;
$header_inactive_decoration_focus: #7c7c7c;
$header_inactive_decoration_hover: #676767;
$header_inactive_fg_active: #ffffff;
$header_inactive_fg_inactive: #a7a7a7;
$header_inactive_fg_link: #bed7ff;
$header_inactive_fg_negative: #de8d95;
$header_inactive_fg_neutral: #e5bb88;
$header_inactive_fg_normal: #eeeeee;
$header_inactive_fg_positive: #7bdc9f;
$header_inactive_fg_link_visited: #d9beff;
// colors:selection
$selection_bg_normal: #676767;
$selection_bg_alt: #676767;
$selection_decoration_focus: #7c7c7c;
$selection_decoration_hover: #676767;
$selection_fg_active: #fcfcfc;
$selection_fg_inactive: #a7a7a7;
$selection_fg_link: #bed7ff;
$selection_fg_negative: #de8d95;
$selection_fg_neutral: #e5bb88;
$selection_fg_normal: #f0f0f0;
$selection_fg_positive: #7bdc9f;
$selection_fg_link_visited: #d9beff;
// colors:tooltip
$tooltip_bg_normal: #0f0f0f;
$tooltip_bg_alt: #0f0f0f;
$tooltip_decoration_focus: #7c7c7c;
$tooltip_decoration_hover: #676767;
$tooltip_fg_active: #ffffff;
$tooltip_fg_inactive: #a7a7a7;
$tooltip_fg_link: #bed7ff;
$tooltip_fg_negative: #de8d95;
$tooltip_fg_neutral: #e5bb88;
$tooltip_fg_normal: #eeeeee;
$tooltip_fg_positive: #7bdc9f;
$tooltip_fg_link_visited: #d9beff;
// colors:view
$view_bg_normal: #252525;
$view_bg_alt: #252525;
$view_decoration_focus: #7c7c7c;
$view_decoration_hover: #676767;
$view_fg_active: #ffffff;
$view_fg_inactive: #a7a7a7;
$view_fg_link: #bed7ff;
$view_fg_negative: #de8d95;
$view_fg_neutral: #e5bb88;
$view_fg_normal: #eeeeee;
$view_fg_positive: #7bdc9f;
$view_fg_link_visited: #d9beff;
// colors:window
$window_bg_normal: #252525;
$window_bg_alt: #252525;
$window_decoration_focus: #7c7c7c;
$window_decoration_hover: #676767;
$window_fg_active: #ffffff;
$window_fg_inactive: #a7a7a7;
$window_fg_link: #bed7ff;
$window_fg_negative: #de8d95;
$window_fg_neutral: #e5bb88;
$window_fg_normal: #eeeeee;
$window_fg_positive: #7bdc9f;
$window_fg_link_visited: #d9beff;
// shade (this is a special color it should match the shadow color of the breeze titlebar)
$breeze_shade: #000;
// font
$font-weight: 500;
$font-title-weight: 700;
$font-menu-weight: 500;
$mono-font: "JetBrainsMonoNL Nerd Font";
