// alt colorschemes below. uncomment which you want, make sure to comment out the not wanted ones, you can also make your own.

// Color schemes are a direct copy of your ke colorscheme (minus a few things), just copy over the colors, rgb works too, just make sure the formatting is correct.
// Some (many) of the colors arent even used currently, i might remove the ones not needed, but for now i'll keep it at having a pretty much complete copy of a kde colorscheme

/************************************************************************
// BREEZE DARK [Default]
// colors:button
$button_bg_normal: #31363B;
$button_bg_alt: #1E5774;
$button_decoration_focus: #3daee9;
$button_decoration_hover: #3daee9;
$button_fg_active: #3DAEE9;
$button_fg_inactive: #a1a9b1;
$button_fg_link: #1d99f3;
$button_fg_negative: #da4453;
$button_fg_neutral: #f67400;
$button_fg_normal: #fcfcfc;
$button_fg_positive: #27ae60;
$button_fg_link_visited: #9b59b6;
// colors:complementary
$comp_bg_normal: #2a2e32;
$comp_bg_alt: #1e5774;
$comp_decoration_focus: #3daee9;
$comp_decoration_hover: #3daee9;
$comp_fg_active: #3DAEE9;
$comp_fg_inactive: #a1a9b1;
$comp_fg_link: #1d99f3;
$comp_fg_negative: #da4453;
$comp_fg_neutral: #f67400;
$comp_fg_normal: #fcfcfc;
$comp_fg_positive: #27ae60;
$comp_fg_link_visited: #9b59b6;
// colors:header
$header_bg_normal: #31363b;
$header_bg_alt: #2a2e32;
$header_decoration_focus: #3daee9;
$header_decoration_hover: #3daee9;
$header_fg_active: #3DAEE9;
$header_fg_inactive: #a1a9b1;
$header_fg_link: #1d99f3;
$header_fg_negative: #da4453;
$header_fg_neutral: #f67400;
$header_fg_normal: #fcfcfc;
$header_fg_positive: #27ae60;
$header_fg_link_visited: #9b59b6;
// colors:header [inactive]
$header_inactive_bg_normal: #2a2e32;
$header_inactive_bg_alt: #31363b;
$header_inactive_decoration_focus: #3daee9;
$header_inactive_decoration_hover: #3daee9;
$header_inactive_fg_active: #3DAEE9;
$header_inactive_fg_inactive: #a1a9b1;
$header_inactive_fg_link: #1d99f3;
$header_inactive_fg_negative: #da4453;
$header_inactive_fg_neutral: #f67400;
$header_inactive_fg_normal: #fcfcfc;
$header_inactive_fg_positive: #27ae60;
$header_inactive_fg_link_visited: #9b59b6;
// colors:selection
$selection_bg_normal: #3daee9;
$selection_bg_alt: #1e5774;
$selection_decoration_focus: #3daee9;
$selection_decoration_hover: #3daee9;
$selection_fg_active: #fcfcfc;
$selection_fg_inactive: #a1a9b1;
$selection_fg_link: #fdbc4b;
$selection_fg_negative: #b03745;
$selection_fg_neutral: #c65c00;
$selection_fg_normal: #fcfcfc;
$selection_fg_positive: #176839;
$selection_fg_link_visited: #9b59b6;
// colors:tooltip
$tooltip_bg_normal: #1b1e20;
$tooltip_bg_alt: #232629;
$tooltip_decoration_focus: #3daee9;
$tooltip_decoration_hover: #3daee9;
$tooltip_fg_active: #3DAEE9;
$tooltip_fg_inactive: #a1a9b1;
$tooltip_fg_link: #1d99f3;
$tooltip_fg_negative: #da4453;
$tooltip_fg_neutral: #f67400;
$tooltip_fg_normal: #fcfcfc;
$tooltip_fg_positive: #27ae60;
$tooltip_fg_link_visited: #9b59b6;
// colors:view
$view_bg_normal: #1b1e20;
$view_bg_alt: #232629;
$view_decoration_focus: #3daee9;
$view_decoration_hover: #3daee9;
$view_fg_active: #3DAEE9;
$view_fg_inactive: #a1a9b1;
$view_fg_link: #1d99f3;
$view_fg_negative: #da4453;
$view_fg_neutral: #f67400;
$view_fg_normal: #fcfcfc;
$view_fg_positive: #27ae60;
$view_fg_link_visited: #9b59b6;
// colors:window
$window_bg_normal: #2a2e32;
$window_bg_alt: #31363b;
$window_decoration_focus: #3daee9;
$window_decoration_hover: #3daee9;
$window_fg_active: #3DAEE9;
$window_fg_inactive: #a1a9b1;
$window_fg_link: #1d99f3;
$window_fg_negative: #da4453;
$window_fg_neutral: #f67400;
$window_fg_normal: #fcfcfc;
$window_fg_positive: #27ae60;
$window_fg_link_visited: #9b59b6;
// shade (this is a special color it should match the shadow color of the breeze titlebar)
$breeze_shade: #000;
***********************************************************************/

// BREEZE LIGHT
// colors:button
 $button_bg_normal: #fcfcfc;
 $button_bg_alt: #a3d4fa;
 $button_decoration_focus: #3daee9;
 $button_decoration_hover: #3daee9;
 $button_fg_active: #3DAEE9;
 $button_fg_inactive: #707d8a;
 $button_fg_link: #2980b9;
 $button_fg_negative: #da4453;
 $button_fg_neutral: #f67400;
 $button_fg_normal: #232629;
 $button_fg_positive: #27ae60;
 $button_fg_link_visited: #9b59b6;
 // colors:complementary
 $comp_bg_normal: #2a2e32;
 $comp_bg_alt: #1e5774;
 $comp_decoration_focus: #3daee9;
 $comp_decoration_hover: #3daee9;
 $comp_fg_active: #3DAEE9;
 $comp_fg_inactive: #a1a9b1;
 $comp_fg_link: #2980b9;
 $comp_fg_negative: #da4453;
 $comp_fg_neutral: #f67400;
 $comp_fg_normal: #fcfcfc;
 $comp_fg_positive: #27ae60;
 $comp_fg_link_visited: #9b59b6;
 // colors:header
 $header_bg_normal: #dee0e2;
 $header_bg_alt: #eff0f1;
 $header_decoration_focus: #3daee9;
 $header_decoration_hover: #3daee9;
 $header_fg_active: #3DAEE9;
 $header_fg_inactive: #707d8a;
 $header_fg_link: #2980b9;
 $header_fg_negative: #da4453;
 $header_fg_neutral: #f67400;
 $header_fg_normal: #232629;
 $header_fg_positive: #27ae60;
 $header_fg_link_visited: #9b59b6;
 // colors:header [inactive] (currently not 100% accurate to breeze light)
 $header_inactive_bg_normal: #dee0e2;
 $header_inactive_bg_alt: #eff0f1;
 $header_inactive_decoration_focus: #3daee9;
 $header_inactive_decoration_hover: #3daee9;
 $header_inactive_fg_active: #3DAEE9;
 $header_inactive_fg_inactive: #707d8a;
 $header_inactive_fg_link: #2980b9;
 $header_inactive_fg_negative: #da4453;
 $header_inactive_fg_neutral: #f67400;
 $header_inactive_fg_normal: #232629;
 $header_inactive_fg_positive: #27ae60;
 $header_inactive_fg_link_visited: #9b59b6;
 // colors:selection
 $selection_bg_normal: #3daee9;
 $selection_bg_alt: #a3d4fa;
 $selection_decoration_focus: #3daee9;
 $selection_decoration_hover: #3daee9;
 $selection_fg_active: #fcfcfc;
 $selection_fg_inactive: #707d8a;
 $selection_fg_link: #fdbc4b;
 $selection_fg_negative: #b03745;
 $selection_fg_neutral: #c65c00;
 $selection_fg_normal: #fcfcfc;
 $selection_fg_positive: #176839;
 $selection_fg_link_visited: #9b59b6;
 // colors:tooltip
 $tooltip_bg_normal: #f7f7f7;
 $tooltip_bg_alt: #eff0f1;
 $tooltip_decoration_focus: #3daee9;
 $tooltip_decoration_hover: #3daee9;
 $tooltip_fg_active: #3DAEE9;
 $tooltip_fg_inactive: #707d8a;
 $tooltip_fg_link: #2980b9;
 $tooltip_fg_negative: #da4453;
 $tooltip_fg_neutral: #f67400;
 $tooltip_fg_normal: #232629;
 $tooltip_fg_positive: #27ae60;
 $tooltip_fg_link_visited: #9b59b6;
 // colors:view
 $view_bg_normal: #ffffff;
 $view_bg_alt: #f7f7f7;
 $view_decoration_focus: #3daee9;
 $view_decoration_hover: #3daee9;
 $view_fg_active: #3DAEE9;
 $view_fg_inactive: #707d8a;
 $view_fg_link: #2980b9;
 $view_fg_negative: #da4453;
 $view_fg_neutral: #f67400;
 $view_fg_normal: #232629;
 $view_fg_positive: #27ae60;
 $view_fg_link_visited: #9b59b6;
 // colors:window
 $window_bg_normal: #eff0f1;
 $window_bg_alt: #e3e5e7;
 $window_decoration_focus: #3daee9;
 $window_decoration_hover: #3daee9;
 $window_fg_active: #3DAEE9;
 $window_fg_inactive: #707d8a;
 $window_fg_link: #2980b9;
 $window_fg_negative: #da4453;
 $window_fg_neutral: #f67400;
 $window_fg_normal: #232629;
 $window_fg_positive: #27ae60;
 $window_fg_link_visited: #9b59b6;
 // shade (this is a special color it should match the shadow color of the breeze titlebar)
 $breeze_shade: #000;

/*************************************************************************************************************************************************************:
// Hanokira (by Mellowaru)
// colors:button
 $button_bg_normal: #3b343a;
 $button_bg_alt: #3b343a;
 $button_decoration_focus: #d48ba7;
 $button_decoration_hover: #6b535c;
 $button_fg_active: #ffb8d3;
 $button_fg_inactive: #c0a6af;
 $button_fg_link: #ffabc8;
 $button_fg_negative: #ff3369;
 $button_fg_neutral: #f8ce36;
 $button_fg_normal: #ffffff;
 $button_fg_positive: #60e28f;
 $button_fg_link_visited: #d8c1ff;
 // colors:complementary
 $comp_bg_normal: #382d32;
 $comp_bg_alt: #382d32;
 $comp_decoration_focus: #d48ba7;
 $comp_decoration_hover: #6b535c;
 $comp_fg_active: #ffb8d3;
 $comp_fg_inactive: #c0a6af;
 $comp_fg_link: #ffabc8;
 $comp_fg_negative: #ff3369;
 $comp_fg_neutral: #f8ce36;
 $comp_fg_normal: #fcfcfc;
 $comp_fg_positive: #60e28f;
 $comp_fg_link_visited: #d8c1ff;
 // colors:header
 $header_bg_normal: #393238;
 $header_bg_alt: #393238;
 $header_decoration_focus: #d48ba7;
 $header_decoration_hover: #6b535c;
 $header_fg_active: #ffb8d3;
 $header_fg_inactive: #c0a6af;
 $header_fg_link: #ffabc8;
 $header_fg_negative: #ff3369;
 $header_fg_neutral: #f8ce36;
 $header_fg_normal: #ffffff;
 $header_fg_positive: #60e28f;
 $header_fg_link_visited: #d8c1ff;
 // colors:header [inactive] (currently not 100% accurate to breeze light)
 $header_inactive_bg_normal: #393238;
 $header_inactive_bg_alt: #393238;
 $header_inactive_decoration_focus: #d48ba7;
 $header_inactive_decoration_hover: #6b535c;
 $header_inactive_fg_active: #ffb8d3;
 $header_inactive_fg_inactive: #c0a6af;
 $header_inactive_fg_link: #ffabc8;
 $header_inactive_fg_negative: #ff3369;
 $header_inactive_fg_neutral: #f8ce36;
 $header_inactive_fg_normal: #ffffff;
 $header_inactive_fg_positive: #60e28f;
 $header_inactive_fg_link_visited: #d8c1ff;
 // colors:selection
 $selection_bg_normal: #d48ba7;
 $selection_bg_alt: #ffa7ca;
 $selection_decoration_focus: #d48ba7;
 $selection_decoration_hover: #6b535c;
 $selection_fg_active: #fcfcfc;
 $selection_fg_inactive: #c0a6af;
 $selection_fg_link: #f8ce36;
 $selection_fg_negative: #ff3369;
 $selection_fg_neutral: #f8ce36;
 $selection_fg_normal: #fcfcfc;
 $selection_fg_positive: #60e28f;
 $selection_fg_link_visited: #d8c1ff;
 // colors:tooltip
 $tooltip_bg_normal: #000;
 $tooltip_bg_alt: #000;
 $tooltip_decoration_focus: #d48ba7;
 $tooltip_decoration_hover: #6b535c;
 $tooltip_fg_active: #ffb8d3;
 $tooltip_fg_inactive: #c0a6af;
 $tooltip_fg_link: #ffabc8;
 $tooltip_fg_negative: #ff3369;
 $tooltip_fg_neutral: #f8ce36;
 $tooltip_fg_normal: #ffffff;
 $tooltip_fg_positive: #60e28f;
 $tooltip_fg_link_visited: #d8c1ff;
 // colors:view
 $view_bg_normal: #262125;
 $view_bg_alt: #282327;
 $view_decoration_focus: #d48ba7;
 $view_decoration_hover: #6b535c;
 $view_fg_active: #ffb8d3;
 $view_fg_inactive: #c0a6af;
 $view_fg_link: #ffabc8;
 $view_fg_negative: #ff3369;
 $view_fg_neutral: #f8ce36;
 $view_fg_normal: #ffffff;
 $view_fg_positive: #60e28f;
 $view_fg_link_visited: #d8c1ff;
 // colors:window
 $window_bg_normal: #2a2529;
 $window_bg_alt: #292428;
 $window_decoration_focus: #d48ba7;
 $window_decoration_hover: #6b535c;
 $window_fg_active: #ffb8d3;
 $window_fg_inactive: #c0a6af;
 $window_fg_link: #ffabc8;
 $window_fg_negative: #ff3369;
 $window_fg_neutral: #f8ce36;
 $window_fg_normal: #ffffff;
 $window_fg_positive: #60e28f;
 $window_fg_link_visited: #d8c1ff;
 // shade (this is a special color it should match the shadow color of the breeze titlebar)
 $breeze_shade: #000;
****************************************************************************************************************************************************************/


// DO NOT COMMENT OUT, AUTO ADJUSTS TO CHOOSEN COLORSCHEME. REQUIRED!
@define-color theme_fg_color #{ $window_fg_normal };
@define-color theme_text_color #{ $window_fg_normal };
@define-color theme_bg_color #{ $window_bg_normal };
@define-color theme_base_color #{ $header_bg_normal };
@define-color theme_selected_bg_color #{ $selection_bg_normal };
@define-color theme_selected_fg_color #{ $selection_fg_normal };
@define-color fg_color #{ $window_fg_normal };
@define-color text_color #{ $window_fg_normal };
@define-color bg_color #{ $window_bg_normal };
@define-color base_color #{ $header_bg_normal };
@define-color selected_bg_color #{ $selection_bg_normal };
@define-color selected_fg_color #{ $selection_fg_normal };
@define-color insensitive_bg_color #{ $window_bg_normal };
@define-color insensitive_fg_color #{ $window_fg_inactive };
@define-color insensitive_base_color #{ $window_bg_normal };
@define-color theme_unfocused_fg_color #{ $window_fg_inactive };
@define-color theme_unfocused_text_color #{ $window_fg_inactive };
@define-color theme_unfocused_bg_color #{ $window_bg_normal };
@define-color theme_unfocused_base_color #{ $window_bg_normal };
@define-color borders #{ rgba($window_fg_normal, 0.2) };
@define-color unfocused_borders #{ rgba($window_fg_normal, 0.2) };
@define-color warning_color #{ $window_fg_neutral };
@define-color error_color #{ $window_fg_negative };
@define-color success_color #{ $window_fg_positive };
@define-color placeholder_text_color #{ rgba($window_fg_normal, 0.5) };
@define-color content_view_bg #{ $view_bg_normal };
@define-color wm_title #{ $header_fg_normal };
@define-color wm_title_unfocused #{ $header_fg_inactive };
@define-color wm_bg #{ $header_bg_normal };
@define-color wm_bg_unfocused #{ $header_inactive_bg_normal };
@define-color wm_highlight #{ $header_bg_normal };
@define-color wm_border #{ $window_bg_normal };
@define-color wm_border_unfocused #{ $window_bg_normal };
@define-color wm_shadow #{ rgba($breeze_shade, 0.35) };
@define-color wm_button_close_bg #{ $window_fg_negative };
@define-color wm_button_close_hover_bg mix(#{$window_fg_normal}, #{$window_fg_negative}, 10%);
@define-color wm_button_close_active_bg #{ rgba($window_fg_negative, 0.4) };
@define-color wm_icon_close_bg #{ $window_fg_normal };
@define-color wm_button_hover_bg #{ $window_fg_normal };
@define-color wm_button_active_bg #{ $window_bg_normal };
@define-color wm_icon_bg transparent;
@define-color wm_icon_unfocused_bg transparent;
@define-color wm_icon_hover_bg #{ $header_bg_normal };
@define-color wm_icon_active_bg #{ $header_fg_normal };

