// reset stuff
* {
  padding: 0;
  box-shadow: none;
  min-height: 0;
  transition: none;
  animation: none;
}

// view
.view, .view:hover {
  background-color: unquote("@content_view_bg_breeze")
}

// headerbar
headerbar{
  border-radius: 0;

  &:first-child {
    border-radius: 0;
    border-top-left-radius: 6px;
  }
  &:last-child {
    border-radius: 0;
    border-top-right-radius: 6px;
  }
}

notebook > header {
  background-color: unquote("@theme_bg_color_breeze");
}

// to be continued
