// colors
@use "colors/colors.scss";

// widgets
@use "widgets/all.scss";
@use "widgets/window.scss";
@use "widgets/headerbar.scss";
@use "widgets/view.scss";
@use "widgets/selection.scss";
@use "widgets/buttons.scss";
@use "widgets/scrollbar.scss";
@use "widgets/entry.scss";
@use "widgets/menus.scss";
@use "widgets/separators.scss";
@use "widgets/checks.switches.scss";
@use "widgets/progressbar.scss";
@use "widgets/spinbutton.scss";
@use "widgets/activatable.scss";
@use "widgets/notebook.scss";
@use "widgets/tooltip.scss";
@use "widgets/linked.scss";
