@use "sass:string";
// buttons but with another name, because we couldnt just leave it at having buttons, we needed buttons that are buttons, but not buttons.
.activatable {
  background-color: transparent;
  color: string.unquote("@theme_text_color_breeze");
  border: 1px solid transparent;
  margin: 2px;
  margin-left: 4px;
  margin-right: 4px;
  min-height: 30px;
  border-radius: 6px;

  & image {
    padding: 5px;
  }

  &:hover {
    background-color: string.unquote("alpha(@theme_button_decoration_focus_breeze,0.2)");
    color: string.unquote("@theme_text_color_breeze");
    border-color: string.unquote("@theme_button_decoration_focus_breeze");
  }
  &:selected,
  &:hover:active {
    background-color: string.unquote("@theme_selected_bg_color_breeze");
    color: string.unquote("@theme_selected_fg_color_breeze");
    border-color: string.unquote("@theme_selected_bg_color_breeze");

    & image {
      color: string.unquote("@theme_selected_fg_color_breeze");
    }
    & button:hover:active {
      background-color: string.unquote("alpha(@theme_selected_fg_color_breeze,0.3)");
    }
  }
}

.sidebar .activatable {
  border-radius: 0;
  margin: 0;
  border: none;
}


// fuck idk what this even is. very messy stuff, needed for those weird gtk4 but 3 apps.
flowbox, flowbox.content{
  background: none;
}
flowbox flowboxchild:selected{
  background-color: string.unquote("alpha(@theme_text_color_breeze,0.15)");
}

.app-notification{
  background-color: string.unquote("@tooltip_background_breeze");
  color: string.unquote("@tooltip_border_breeze");
  padding: 10px;
  border-radius: 6px;
}

.content .activatable .activatable, .content .content{
  background-color: transparent;
  border: none;
}
.content, .content .activatable {
  background-color: string.unquote("@content_view_bg_breeze");
  color: string.unquote("@theme_text_color_breeze");
  border-radius: 0;
  padding: 0;
  margin: 0;
}
.content {
  border: 1px solid string.unquote("mix(@content_view_bg_breeze,black,0.5)");
  box-shadow:
    -1px 0 0 0 string.unquote("alpha(@theme_text_color_breeze,0.05)"),
    1px 0 0 0 string.unquote("alpha(@theme_text_color_breeze,0.05)");
  border-bottom: 1px solid string.unquote("alpha(@breeze_shade,0.7)");
  border-top: none;
  margin-left: 1px;
  margin-right: 1px;

  &:first-child {
    border-top: 1px solid string.unquote("mix(@content_view_bg_breeze,black,0.5)");
    box-shadow: 0 -1px 0 0 string.unquote("alpha(@content_view_bg_breeze,0.5)");
    margin-top: 1px;
  }
  &:last-child {
    border-bottom: 1px solid string.unquote("mix(@content_view_bg_breeze,black,0.5)");
    box-shadow: 0 1px 0 0 string.unquote("alpha(@content_view_bg_breeze,0.5)");
    margin-bottom: 1px;
  }
  &:only-child {
    border: 1px solid string.unquote("mix(@content_view_bg_breeze,black,0.5)");
    box-shadow: 0 0 0 1px string.unquote("alpha(@content_view_bg_breeze,0.5)");
    margin: 1px;
  }

  // fixing some stuff inside just to be sure
  & entry {
    margin: 0;
  }
  & spinbutton entry {
    margin: 0;
  }
  & switch {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.content:first-child, .content .activatable:first-child{
  border-radius: 6px 6px 0 0;
  padding: 0;
}
.content:last-child, .content .activatable:last-child{
  border-radius: 0 0 6px 6px;
}
.content:only-child, .content .activatable:only-child{
  border-radius: 6px;
}
.content .activatable {
  border: none;
  &:hover{
    background-color: string.unquote("alpha(@theme_text_color_breeze,0.05)");
  }
  &:hover:active{
    color: string.unquote("@theme_text_color_breeze");
  }
}
