@use "sass:string";
// im lazy
*:disabled {
  color: string.unquote("@theme_unfocused_view_text_color_breeze");
}
*:selected {
  background-color: string.unquote("@theme_selected_bg_color_breeze");
  color: string.unquote("@theme_selected_fg_color_breeze");
}

*:link {
  color: string.unquote("@link_color_breeze");
}
*:visited {
  color: string.unquote("@link_visited_color_breeze");
}


.dim-label {
  color: string.unquote("@theme_unfocused_view_text_color_breeze");
}

.monospace {
  font-family: monospace;
}
