button {
  background-color: unquote("@theme_button_background_normal_breeze");
  color: unquote("@theme_button_foreground_normal_breeze");
  border: 1px solid unquote("alpha(@theme_button_foreground_normal_breeze,0.2)");
  padding: 7px;
  border-radius: 6px;

  &.flat,
  headerbar & {
    background-color: transparent;
    border-color: transparent;
    color: unquote("@theme_fg_color_breeze");
  }
  headerbar .linked & {
    background-color: unquote("@theme_button_background_normal_breeze");
    color: unquote("@theme_button_foreground_normal_breeze");
    border-color: unquote("alpha(@theme_button_foreground_normal_breeze,0.2)");
  }
  &.circular {
    border-radius: 999px;
  }

  &:hover, &.flat:hover
  &:checked:hover, &.flat:checked:hover,
  headerbar .linked &:hover, headerbar .linked &:checked:hover {
    border-color: unquote("@theme_selected_bg_color_breeze");
  }
  &:hover:active, &.flat:hover:active,
  headerbar .linked &:hover:active {
    border-color: unquote("@theme_selected_bg_color_breeze");
    background-color: unquote("alpha(@theme_selected_bg_color_breeze,0.3)");
  }
  &:checked, &.flat:checked,
  headerbar .linked &:checked {
    background-color: unquote("alpha(@theme_button_foreground_normal_breeze,0.15)");
    border-color: unquote("alpha(@theme_selected_bg_color_breeze,0.7)"); // keep border colored because i cant be bothered to try to fix that issue about the hover not applying, also, eventhough breeze wants this, its actually horible on a solid button.
  }
}

// combobox stuff
combobox button {
  padding: 4px;
}
combobox arrow {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  min-height: 16px;
  min-width: 16px;
}

// color buttons
colorswatch.activatable{
  margin:0px;
  padding:2;
  border-radius:6;
  border:none;
  margin-right:-1px;
  margin-left:-3px;
}

// header buttons in treeviews
.view header button {
  border-radius: 0;
  margin-top: 1px;

  &:hover {
    background-color: unquote("alpha(@theme_button_decoration_hover_breeze,0.3)");
    border-color: unquote("alpha(@theme_button_foreground_normal_breeze,0.2)");
  }
}

// extra states
button.suggested-action {
  background-color: unquote("alpha(@theme_selected_bg_color_breeze,0.2)");
  border-color: unquote("alpha(@theme_selected_bg_color_breeze,0.4)");

  &:hover {
    border-color: unquote("@theme_selected_bg_color_breeze");
  }

  &:disabled {
    background-color: unquote("alpha(@theme_selected_bg_color_breeze,0.1)");
    border-color: unquote("alpha(@theme_selected_bg_color_breeze,0.3)");
  }
}
button.destructive-action {
  background-color: unquote("alpha(@error_color_breeze,0.2)");
  border-color: unquote("alpha(@error_color_breeze,0.4)");

  &:hover {
    border-color: unquote("@error_color_breeze");
  }
  &:hover:active {
    background-color: unquote("alpha(@error_color_breeze,0.3)");
  }

  &:disabled {
    background-color: unquote("alpha(@error_color_breeze,0.1)");
    border-color: unquote("alpha(@error_color_breeze,0.2)");
  }
}


// titlebuttons
.titlebutton {
  padding: 1px;
  margin-left: 3px;
  margin-right: 3px;
  background: none;
  border: none;
  color: unquote("@theme_titlebar_foreground_breeze");
  border-radius: 999px;

  &:last-child {
    margin-right: 10px;
  }
  &:first-child {
    margin-left: 9px;
  }

  &:hover {
    background-color: unquote("@theme_titlebar_foreground_breeze");
    color: unquote("@theme_titlebar_background_breeze");
  }
  &:hover:active {
    background-color: unquote("alpha(@theme_titlebar_foreground_breeze,0.4)");
    color: unquote("@theme_titlebar_background_breeze");
  }

  &.close:hover {
    background-color: unquote("mix(white,@error_color_breeze,0.6)");
  }
  &.close:backdrop:hover {
    background-color: unquote("@error_color_breeze");
  }
  &.close:hover:active {
    background-color: unquote("mix(black,@error_color_breeze,0.5)");
  }
}


// combobox
combobox button {
  border: 1px solid unquote("alpha(@theme_button_foreground_normal_breeze,0.2)");

  .linked & {
    border: 1px solid unquote("alpha(@theme_button_foreground_normal_breeze,0.2)");
  }

  &:hover, &.flat:hover
  &:checked:hover, &.flat:checked:hover,
  .linked &:hover, .linked &:checked:hover {
    border-color: unquote("@theme_selected_bg_color_breeze");
  }
  &:hover:active, &.flat:hover:active,
  .linked &:hover:active {
    border-color: unquote("@theme_selected_bg_color_breeze");
    background-color: unquote("alpha(@theme_selected_bg_color_breeze,0.3)");
  }
  &:checked, &.flat:checked,
  .linked &:checked {
    background-color: unquote("alpha(@theme_selected_bg_color_breeze,0.15)");
    border-color: unquote("alpha(@theme_selected_bg_color_breeze,0.7)"); // keep border colored because i cant be bothered to try to fix that issue about the hover not applying, also, eventhough breeze wants this, its actually horible on a solid button.
  }

  .linked &:first-child,
  .linked &:last-child,
  .linked &:only-child
  .linked & {
    border: 1px solid unquote("alpha(@theme_button_foreground_normal_breeze,0.2)");
  }
}
