@use "sass:string";
// switch.
// converted from official breeze theme cuz i was too dumb to do this myself, bit messy.
switch {
  margin: 2px;
  font-weight: bold;
  font-size: smaller;
  border: 1px solid;
  border-radius: 12px;
  color: transparent;
  background-color: string.unquote("@theme_button_background_normal_breeze");
  border-color: string.unquote("alpha(@theme_button_foreground_normal_breeze,0.2)");
  text-shadow: none;
}
switch:disabled {
  background-color: string.unquote("alpha(@theme_button_background_normal_breeze,0.3)");
}
switch:checked {
  background-image: image(string.unquote("alpha(@theme_selected_bg_color_breeze,0.3)"));
  border-color: string.unquote("@theme_selected_bg_color_breeze");
}
switch:checked:disabled,
label:disabled selection:checked {
  background-image: image(string.unquote("alpha(@theme_selected_bg_color_breeze,0.2)"));
  border-color: string.unquote("alpha(@theme_selected_bg_color_breeze,0.7)");
}
switch:dir(ltr):checked slider {
  margin-left: 1px;
}
switch:dir(ltr):not(:checked) slider {
  margin-right: 1px;
}

switch slider {
  min-width: 24px;
  min-height: 24px;
  margin: -4px;
  border: 1px solid;
  border-radius: 12px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.125);
  border-color: string.unquote("alpha(@theme_button_foreground_normal_breeze,0.2)");
  background: string.unquote("@theme_button_background_normal_breeze");
}
switch:hover slider {
  border-color: string.unquote("@theme_selected_bg_color_breeze");
}
switch:focus slider {
  border-color: string.unquote("@theme_selected_bg_color_breeze");
}
switch:disabled {
  border-color: string.unquote("alpha(@theme_button_foreground_normal_breeze,0.005)")
  
  & slider {
    box-shadow: none;
    color: string.unquote("alpha(@theme_button_foreground_normal_breeze,0.5)");
    border-color: string.unquote("alpha(@theme_button_foreground_normal_breeze,0.005)");
    background: string.unquote("mix(@content_view_bg_breeze, @theme_button_background_normal_breeze,0.1)");
  }
}

switch image,
switch:disabled image {
  color: transparent;
}


// checkbox
// back to writing stuff myself YAY
check {
  border: 1px solid string.unquote("alpha(@theme_button_foreground_normal_breeze,0.2)");
  background-color: string.unquote("@theme_button_background_normal_breeze");
  border-radius: 6px;
  margin: 3px;
  color: transparent;

  &:hover,
  &:checked:hover {
    border-color: string.unquote("@theme_selected_bg_color_breeze");
  }
  &:hover:active {
    border-color: string.unquote("@theme_selected_bg_color_breeze");
    background-color: unqutoe("alpha(@theme_selected_bg_color_breeze,0.3)");
  }
  &:checked {
    border-color: string.unquote("alpha(@theme_selected_bg_color_breeze,0.5)");
    background-color: string.unquote("alpha(@theme_selected_bg_color_breeze,0.3)");
    color: string.unquote("@theme_fg_color_breeze");
    -gtk-icon-source:image(-gtk-recolor(url("assets/checkmark-symbolic.svg")));
  }
  &:indeterminate {
    -gtk-icon-source: image(-gtk-recolor(url("assets/dash-symbolic.svg")));
    border-color: string.unquote("alpha(@theme_selected_bg_color_breeze,0.5)");
    background-color: string.unquote("alpha(@theme_selected_bg_color_breeze,0.3)");
    color: string.unquote("@theme_fg_color_breeze");
  }

  &:disabled {
    background-color: string.unquote("@theme_button_background_normal_breeze,0.5");
    color: transparent;
    border-color: string.unquote("alpha(@theme_button_foreground_normal_breeze,0.1)");
  }
  &:disabled:checked {
    background-color: string.unquote("alpha(@theme_selected_bg_color_breeze,0.2)");
    border-color: string.unquote("alpha(@theme_selected_bg_color_breeze,0.4)");
    color: string.unquote("alpha(@theme_fg_color_breeze,0.7)");
  }
}

// Radio
radio {
  border: 1px solid string.unquote("alpha(@theme_button_foreground_normal_breeze,0.2)");
  background-color: string.unquote("@theme_button_background_normal_breeze");
  border-radius: 999px;
  margin: 3px;
  color: transparent;

  &:hover,
  &:checked:hover {
    border-color: string.unquote("@theme_selected_bg_color_breeze");
  }
  &:hover:active {
    border-color: string.unquote("@theme_selected_bg_color_breeze");
    background-color: string.unquote("alpha(@theme_selected_bg_color_breeze,0.3)");
  }
  &:checked {
    border-color: string.unquote("alpha(@theme_selected_bg_color_breeze,0.5)");
    background-color: string.unquote("alpha(@theme_selected_bg_color_breeze,0.3)");
    color: string.unquote("@theme_fg_color_breeze");
    -gtk-icon-source:image(-gtk-recolor(url("assets/bullet-symbolic.svg")));
  }

  &:disabled {
    background-color: string.unquote("alpha(@theme_button_foreground_normal_breeze,0.5)");
    color: transparent;
    border-color: string.unquote("alpha(@theme_button_foreground_normal_breeze,0.1)");
  }
  &:disabled:checked {
    background-color: string.unquote("alpha(@theme_selected_bg_color_breeze,0.2)");
    border-color: string.unquote("alpha(@theme_selected_bg_color_breeze,0.4)");
    color: string.unquote("alpha(@theme_fg_color_breeze,0.7)");
  }
}

// in menus
// still kinda broken
menuitem, modelbutton {
  & check, & radio {
    margin: 0;
    margin-left: 4px;
    margin-right: 4px;
  }

  // this isnt really ever seen in breeze, and might not be accurate, but its better for visibility
}
modelbutton {
  &:hover check, &:hover radio,
  &:hover:active check, &:hover:active radio {
    color: string.unquote("@theme_selected_fg_color_breeze");
  }
}

// extra for menu sizing
menuitem check, menuitem radio {
  padding: 8px;
}

