@use "sass:string";
entry {
  background-color: string.unquote("@content_view_bg_breeze");
  color: string.unquote("@theme_fg_color_breeze");
  border: 1px solid string.unquote("@borders_breeze");
  padding: 7px;
  border-radius: 6px;

  &:focus {
    border-color: string.unquote("@theme_selected_bg_color_breeze");
  }

  & image {
    padding-right: 4px;
    padding-left: 4px;
  }
}
