headerbar {
  background-color: unquote("@theme_titlebar_background_breeze");
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 6px;
  border-bottom: 1px solid unquote("@borders_breeze");

  &:backdrop {
    background-color: unquote("@theme_titlebar_background_backdrop_breeze");
  }
}
// because GNOME was too dumb to make the headerbar in their gtk4 style gtk3 apps roundable, this needs to be done. FU GNOME
.background.csd.unified headerbar {
  background-color: transparent;
}
