// there's like two different kinds of notebook in breeze, idk why, but there is, and idk which one to make, so i can choose between the easy one, and the hard one, and i'll go with the hard one (for now)
// notebook
notebook arrow {
  color: unquote("@theme_fg_color_breeze");

  &:hover {
    color: unquote("@theme_selected_bg_color_breeze");
  }
  &:disabled {
    color: unquote("@theme_unfocused_view_text_color_breeze");
  }
}
notebook tab {
  border: 1px solid transparent;
  border-top: 3px solid transparent;
  background-color: unquote("alpha(black,0.2)");
  color: unquote("@theme_fg_color_breeze");
  padding: 5px;

  &:first-child {
    border-top-left-radius: 6px;
  }
  &:last-child {
    border-top-right-radius: 6px;
  }
  &:only-child {
    border-radius: 6px 6px 0 0;
  }

  & label {
    border-bottom: 1px solid transparent;
  }

  &:hover {
    background-color: unquote("alpha(@theme_selected_bg_color_breeze,0.1)");
  }
  &:checked,
  &:active:hover {
    background-color: unquote("@content_view_bg_breeze");
    border-color: unquote("alpha(mix(@theme_selected_bg_color_breeze, @borders_breeze, 0.8), 0.5)");
    border-top-color: unquote("@theme_selected_bg_color_breeze");
    border-radius: 6px 6px 0 0;
    margin-bottom: -1px;
    border-bottom-color: unquote("@content_view_bg_breeze");

    & label {
      border-color: unquote("@theme_selected_bg_color_breeze");
    }
  }
}

notebook button.flat {
  padding: 1px;
  margin: 0;
  min-height: 0;
  min-width: 0;
}
