// scale
scale {
  margin-right: 10px;
  margin-left: 10px;
}

// levelbar
levelbar trough block {
  min-height: 6px;
  min-width: 6px;
  border-radius: 6px;
}
levelbar trough block.empty {
  background-color: unquote("alpha(@theme_fg_color_breeze,0.2)");
  border: 1px solid unquote("alpha(@theme_fg_color_breeze,0.7)");
}
levelbar trough block.filled {
  background-color: unquote("alpha(@theme_selected_bg_color_breeze,0.2)");
  border: 1px solid unquote("@theme_selected_bg_color_breeze");
}

// progressbar
progressbar trough,
scale fill,
scale trough {
  border-radius: 6px;
  background-color: unquote("alpha(@theme_fg_color_breeze,0.1)");
  border: 1px solid unquote("alpha(@theme_fg_color_breeze,0.3)");
  min-width: 6px;
  min-height: 6px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: unquote("@theme_fg_color_breeze")
}
progressbar trough:disabled,
scale fill:disabled,
scale trough:disabled {
  background-color: unquote("alpha(@theme_fg_color_breeze,0.1)");
  border: 1px solid unquote("alpha(@theme_fg_color_breeze,0.2)");
  color: unquote("alpha(@theme_fg_color_breeze,0.7)")
}
progressbar progress,
scale highlight {
  background-image: unquote("image(alpha(@theme_selected_bg_color_breeze,0.6))");
  border: 1px solid unquote("alpha(@theme_selected_bg_color_breeze,0.6)");
  border-radius: 6px;
  margin: -1px;
  color: unquote("@theme_fg_color_breeze")
}
progressbar progress:disabled,
scale highlight:disabled {
  background-color: unquote("alpha(@theme_selected_bg_color_breeze,0.1)");
  border: 1px solid unquote("alpha(@theme_selected_bg_color_breeze,0.6)");
}
scale slider,
progressbar slider {
  background-color: unquote("@theme_button_background_normal_breeze");
  border: 1px solid unquote("mix(@theme_button_background_normal_breeze, @theme_button_foreground_normal_breeze, 0.2)");
  min-height: 10px;
  min-width: 10px;
  margin: -11px;
  border-radius: 999px;
}
scale slider:hover,
progressbar slider:hover {
  border-color: unquote("@theme_selected_bg_color_breeze");
}
scale slider:hover:active
progressbar slider:hover:active {
  border-color: unquote("@theme_selected_bg_color_breeze");
  background-color: unquote("mix(@theme_button_background_normal_breeze, @theme_selected_bg_color_breeze, 0.2)");
}
scale slider:disabled,
progressbar slider:disabled {
  background-color: unquote("mix(@theme_button_background_normal_breeze, @content_view_bg_breeze, 0.3)");
  border: 1px solid unquote("mix(@theme_button_background_normal_breeze, @theme_button_foreground_normal_breeze, 0.05)");
}
