scrollbar {
  min-width: 7px;
  min-height: 25px;
  padding: 5px;
  padding-left: 2px;

  & button {
    min-height: 0;
    min-width: 0;
    border: none;
    background: none;
    padding: 0;
  }

  & slider {
    min-width: 7px;
    min-height: 7px;
    background-color: unquote("alpha(@theme_button_background_normal_breeze,0.2)");
    box-shadow: 0 0 0 1px unquote("alpha(@theme_button_background_normal_breeze,0.3)");
    border-radius: 999px;
  }
  & slider:hover {
    background-color: unquote("alpha(@theme_button_decoration_hover_breeze,0.6)");
    box-shadow: 0 0 0 1px unquote("mix(@theme_button_decoration_hover_breeze,@theme_bg_color_breeze,0.5)");
  }
}
