@use "sass:string";
scrollbar {
  min-width: 7px;
  min-height: 7px;
  padding: 5px;
  box-shadow: 0 0 0 1px string.unquote("mix(@content_view_bg_breeze, @borders_breeze, 0.7)");

  & button {
    min-height: 0;
    min-width: 0;
    border: none;
    background: none;
    padding: 0;
  }

  & slider {
    min-width: 7px;
    min-height: 7px;
    background-color: string.unquote("alpha(@theme_fg_color_breeze,0.2)");
    box-shadow: 0 0 0 1px string.unquote("alpha(@theme_fg_color_breeze,0.3)");
    border-radius: 999px;
  }
  & slider:hover {
    background-color: string.unquote("alpha(@theme_button_decoration_hover_breeze,0.6)");
    box-shadow: 0 0 0 1px string.unquote("mix(@theme_button_decoration_hover_breeze,@theme_bg_color_breeze,0.5)");
  }

  &.horizontal {
    & slider {
      min-width: 30px;
    }
  }
  &.vertical {
    & slider {
      min-height: 30px;
    }
  }

  .frame &,
  scrolledwindow & {
    background-color: string.unquote("alpha(@content_view_bg_breeze, 0.5)");
  }
}


