selection {
  background-color: unquote("@theme_selected_bg_color_breeze");
  color: unquote("@theme_selected_fg_color_breeze");

  &:backdrop {
    background-color: unquote("alpha(@theme_selected_bg_color_breeze,.03)");
    color: unquote("@theme_fg_color_breeze");
  }
}
