separator {
  background-color: unquote("@borders_breeze");
  margin: 3px;
  min-width: 1px;
  min-height: 1px;

  &.horizontal {
    background-color: unquote("@borders_breeze");
  }

  // FUCK YOU VERTICAL SEPARATOR, INTO THE ABYSS YOU GO!
  &.vertical {
    margin: 0;
    padding: 0;
    background: none;
    min-width: 0;
  }
}

// paned is probably the most annoying thing in gtk, it will break any theme you make unless you KILL IT.
paned separator:not(.horizontal) {
  margin: -1;
  padding: 0;
  background: none;
  color: 0;
}
