tooltip {
  & decoration {
    background: none;
    border: none;
    box-shadow: none;
  }

  background-color: unquote("@tooltip_background_breeze");
  padding: 7px;
  border: 1px solid unquote("@tooltip_border_breeze");
  border-radius: 6px;

  & * {
    color: unquote("@tooltip_text_breeze");
  }
}
