@use "sass:string";
tooltip, tooltip.background {
  & decoration {
    background: string.unquote("@tooltip_background_breeze");
    border: none;
    box-shadow: none;
  }

  background-color: string.unquote("@tooltip_background_breeze");
  padding: 7px;
  border: 1px solid string.unquote("@tooltip_border_breeze");
  border-radius: 6px;

  & * {
    background-color: string.unquote("@tooltip_background_breeze");
    color: string.unquote("@tooltip_text_breeze");
  }
}
