// decoration
decoration,
window.background.csd.unified {
  background-color: unquote("@theme_header_background_breeze");
  border-radius: 6px 6px 0 0;
  box-shadow:
    0 0 0 1px unquote("alpha(@window_fg_normal,0.3)"),
    0 0 40px unquote("alhpa(@shade_breeze6,0.4)");
  margin: 10px;
}

// this is needed because decorations are on other things than the window, eventhough those should be targeted sepperatly anyway.
.popup decoration,
tooltip decoration {
  background: none;
  box-shadow: none;
  border-radius: 6px;
}


// pretty much all background stuff, im too lazy to make individual files for them.

// base background
.background {
  background-color: unquote("@theme_bg_color_breeze");
  color: unquote("@theme_text_color_breeze");
}

// frame
.frame {
  background-color: unquote("mix(@content_view_bg_breeze,@theme_bg_color_breeze,0.5)");
  border: 1px solid unquote("@borders_breeze");

    & > frame,
    & > .frame {
      border: none;
    }

    .sidebar & {
      background: none;
      border: none;
    }
}

// sidebar
.sidebar {
  background-color: unquote("@content_view_bg_breeze");
  color: unquote("@theme_fg_color_breeze");
  border-right: 1px solid unquote("@borders_breeze");
}

// section frames, because frames arent frames, unless they are framed but differently than other frames
frame border {
  border: 1px solid unquote("@borders_breeze");
}
.section-frame > label {
  color: unquote("alpha(@theme_fg_color_breeze,0.7)");
}
frame .frame {
  border: none;
}

// toolbars
actionbar,
.primary-toolbar {
  padding: 5px;
}



// bismuth decoration (uncomment to use)
decoration,
window.background.csd.unified {
  background-color: unquote("@theme_header_background_breeze");
  border-radius: 0;
  box-shadow: 0 0 0 4px unquote("@theme_button_decoration_focus_breeze");
  margin: 10px;

  &:backdrop {
    box-shadow: 0 0 0 4px unquote("@theme_bg_color_breeze");
  }
}

