@use "sass:string";
// decoration
decoration,
window.background.csd.unified {
  background-color: string.unquote("@theme_header_background_breeze");
  border-radius: 6px 6px 0 0;
  box-shadow:
    0 0 0 1px string.unquote("@borders_breeze"),
    0 0 40px string.unquote("alpha(@shade_breeze,0.4)");
  margin: 10px;
}

// this is needed because decorations are on other things than the window, eventhough those should be targeted sepperatly anyway.
.popup decoration,
tooltip decoration {
  background: none;
  box-shadow: none;
  border-radius: 6px;
}


// pretty much all background stuff, im too lazy to make individual files for them.

// base background
.background {
  background-color: string.unquote("@theme_bg_color_breeze");
  color: string.unquote("@theme_fg_color_breeze");
}

// frames
.frame { background-color: string.unquote("mix(@theme_bg_color_breeze, @content_view_bg_breeze, 0.5)"); }
frame {
  box-shadow: 0 0 0 1px string.unquote("mix(@content_view_bg_breeze, @borders_breeze, 0.7)");
  background-color: string.unquote("mix(@theme_bg_color_breeze, @content_view_bg_breeze, 0.5)");
  margin: 1px;
}
border {
  box-shadow: 0 0 0 1px string.unquote("mix(@content_view_bg_breeze, @borders_breeze, 0.7)")
  
  frame & { box-shadow: none; }
}
frame .frame {
  margin: 0;
}
.frame, frame {
  color: string.unquote("@theme_fg_color_breeze");
}
  // sidebar
.sidebar {
  background-color: string.unquote("@theme_bg_color_breeze");
  border: none;
  border-right: 1px solid string.unquote("mix(@content_view_bg_breeze, @borders_breeze, 0.7)");

  .frame &, & .frame, &.frame {
    box-shadow: none;
  }
}

scrolledwindow { box-shadow: 0 0 0 1px string.unquote("mix(@content_view_bg_breeze, @borders_breeze, 0.7)"); }

// toolbars
actionbar,
.primary-toolbar {
  padding: 5px;
}



// bismuth decoration (uncomment to use)
/*
decoration,
window.background.csd.unified {
  background-color: unquote("@theme_header_background_breeze");
  border-radius: 0;
  box-shadow: 0 0 0 4px unquote("@theme_button_decoration_focus_breeze");
  margin: 10px;

  &:backdrop {
    box-shadow: 0 0 0 4px unquote("@theme_bg_color_breeze");
  }
}
*/

